html, body, #map {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#panel {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 2px;
    width: 300px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

@media (max-width:768px) {
    #panel{
        display: none;
    }
}

input[type=text] {
    border: 1px solid #CCC;
    color: #444;
    margin: 0 auto;
    height: 14px;
    line-height: 10px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
[name='cords']{
    width: 180px;
}

.markerPanel [name='name'] {
    width: 180px;
}

.polygonPanel [name='name'],
.linePanel [name='name']{
    width: 180px;
}

.simpleColorContainer {
    display: inline-block;
}

[name='delete'] {
    display: inline-block;
}

.markerPanel, .linePanel, .polygonPanel, .panelTop {
    height: 40px;
}

.leftPanel {
    float: left;
}

.rightPanel {
    float: right;
}

.rightPanel, .leftPanel {
    vertical-align: middle;
    line-height: 30px;
}