<input type="text" placeholder="Введите свое название" class="point-name"/>
<label for="point-share" class="label-point-share">
    share:
    <input type="checkbox" id="point-share" class="point-share"/>
</label>