<div class="leftPanel">
    <span class="icon"></span>
    <input type="text" name="name">
</div>
<div class="rightPanel">
    <input type="hidden" name="color">
    <input type="button" name="delete" value="X" class="delete">
</div>