<div class="panelTop">
    <div class="leftPanel">
        <input type="text" class="cords" name="cords">
    </div>
    <div class="addObjects rightPanel">
        <button class="addMarker icon"></button>
        <button class="addLine icon"></button>
    </div>
</div>
<div style="clear:both;"></div>
<div class="pannelInner"></div>