<div class="leftPanel">
    <div class="icon"></div>
    <input type="text" name="name">
</div>
<div class="rightPanel">
    <button class="draw icon"></button>
    <input type="hidden" name="color">
    <button class="delete icon"></button>
</div>