<div class="leftPanel">
    <span class="icon"></span>
    <input type="text" name="name">
    <button class="draw">draw</button>
</div>
<div class="rightPanel">
    <input type="hidden" name="color">
    <input type="button" name="delete" value="X" class="delete">
</div>